My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-intake",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d3761cfe-4921-4a4b-8941-d5d206831200",
      "name": "Webhook",
      "webhookId": "744bd92e-b589-43b3-8085-9f19b9402c17"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        0
      ],
      "id": "9506031f-85af-45fd-b7c7-aa4917433ee1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "63a05ae4-1a57-41a8-a33d-932fa6bc8696",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "HzUKHReBFYhH0Qh6",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "df3e8280-82e6-4348-8431-b2a7965ecffd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a46591efbeb1ef009fbf3c19fd20dbbe12cac4a1ec6b143e02d1ef77f7516b10"
  },
  "id": "hXCtZfGBz5r4cltC",
  "tags": []
}